/**
 * Component - Drawer Menu
 */

$drawer-always-shown:        false !default;
$drawer-breakpoint:          breakpoint("md") !default;
$drawer-pad:                 space() !default;
$drawer-height:              3rem !default;
$drawer-bg:                  $icon-bg !default;
$drawer-color:               $icon-color !default;
$drawer-hover-bg:            $icon-hover-bg !default;
$drawer-hover-color:         $icon-hover-color !default;
$drawer-navicon-bg:          $icon-bg !default;
$drawer-navicon-color:       $icon-color !default;
$drawer-navicon-hover-bg:    $icon-hover-bg !default;
$drawer-navicon-hover-color: $icon-hover-color !default;
$drawer-site-brand-width:    6rem !default;

.drawer {
  position: fixed;
  top: $drawer-pad;
  right: $drawer-pad;
  z-index: 1110;
  display: block;
  width: $drawer-height;
  height: $drawer-height;
  padding: 0; // Reset
  border: 0;
  background-color: transparent; // Reset
  text-align: center;
  outline: 0; // Reset
  cursor: pointer;

  @if $drawer-always-shown == false {
    @media (min-width: $drawer-breakpoint) {
      display: none;
    }
  }

  &__navicon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1111;
    @include use-icon($drawer-navicon-bg, $drawer-navicon-color, $drawer-navicon-hover-bg, $drawer-navicon-hover-color, 0);
    opacity: 0;
    transform: rotateY(-180deg);
    transition: all 0.5s ease;

    .drawer:not(.is-active):not(.is-ready) & {
      opacity: 1;
      transform: rotateY(0);
    }
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1110;
    @include use-icon($drawer-navicon-bg, $drawer-navicon-color, $drawer-navicon-hover-bg, $drawer-navicon-hover-color, 0);
    opacity: 1;
    transform: rotateY(0);
    transition: all 0.5s ease;

    .drawer:not(.is-active) & {
      opacity: 0;
      transform: rotateY(180deg);
    }
  }
}

.drawerMenu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1100;
  width: clamp(18rem, 40%, 24rem);
  height: 100%;
  margin: auto;
  background-color: $drawer-bg;
  text-align: center;
  transition: width 0.5s ease;
  
  &.is-hidden {
    width: 0;
  }
  
  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 100%;
    margin: 0;
    padding-inline-start: 0;
    text-align: left;
    opacity: 1;
    
    &.is-hidden {
      opacity: 0;
    }

    &.is-collapsed {
      display: none;
    }
  }

  &__primaryMenu,
  &__socialMenu {
    list-style: none;
    flex: 1 1 100%;
    padding-inline-start: 0;
  }

  &__socialMenu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-inline-start: 20%;
  }

  &__item {
    width: 100%;
    margin: 0;
    text-transform: capitalize;

    a {
      display: block;
      padding-block: space("x-small");
      padding-inline-start: 20%;
      color: $drawer-color;
      fill: $drawer-color;
      text-decoration: none;
      transition: all 0.25s ease;
    }

    &:not(.siteBrand) a:hover {
      background-color: $drawer-hover-bg;
      color: $drawer-hover-color;
      fill: $drawer-hover-color;
    }

    &.siteBrand {
      padding-block: 1rem;
      font-size: $h1-font-size;

      a {
        padding: 0 0 0 20%;
      }

      img {
        width: $drawer-site-brand-width;
      }
    }

    &.social {
      width: fit-content;
      padding-block: 1rem;

      a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        padding: 0;
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.drawerMenuOverlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1090;
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;

  &.is-collapsed {
    display: none;
  }
}
