/**
 * Layout - G Nav
 */

.gNav {
  @include row(flex-start);
  gap: space("large");
  @include container();
  height: 100%;
  transition: all 0.5s ease;

  &__siteBrand {
    display: block;
    flex: 0 0 auto;
    width: fit-content;
    height: 100%;
    margin: 0;
    transition: all 0.5s ease;

    img {
      width: auto;
      height: 100%;
      transition: all 0.5s ease;
    }
  }

  &__primaryMenu {
    @include list-unstyled();
    @include row();
    gap: space("large");
    flex: 0 0 auto;
    margin: 0;
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    font-size: 1.25rem;
    transition: all 0.5s ease;

    @at-root .gNav--shrink & {
      font-size: 1rem;
    }
  }

  &__menuItem {
    margin: 0;

    &.is-current {
      font-weight: 700;
    }

    a {
      display: block;
      line-height: 1;
    }
  }
}
