/**
 * Component - Modal
 */

$modal-ui-pad:         space() !default;
$modal-ui-height:      3rem !default;
$modal-ui-bg:          $icon-bg !default;
$modal-ui-color:       $icon-color !default;
$modal-ui-hover-bg:    $icon-hover-bg !default;
$modal-ui-hover-color: $icon-hover-color !default;;

.modal {
  position: fixed;
  inset: 0;
  z-index: 2000;
  width: 100%;
  height: 100vh;
  transition: opacity 0.5s ease;

  &.is-hidden {
    opacity: 0;
  }

  &[aria-hidden="true"] {
    visibility: hidden;
  }

  &__main {
    position: absolute;
    inset: 0;
    z-index: 2000;
    width: fit-content;
    height: min(100%, 36rem);
    margin: auto;

    img {
      width: auto;
      height: 100%;
    }
  }

  &__image {
    opacity: 0;
    transition: opacity 0.25s ease;

    &.is-loaded {
      opacity: 1;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1990;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
  }

  &__close, &__prev, &__next {
    position: absolute;
    z-index: 2010;
    width: $modal-ui-height;
    height: $modal-ui-height;
    margin: auto;
    border-radius: 50%;
    @include use-icon($modal-ui-bg, $modal-ui-color, $modal-ui-hover-bg, $modal-ui-hover-color, 0);
    overflow: hidden;
  }

  &__close {
    top: $modal-ui-pad;
    right: $modal-ui-pad;
  }

  &__prev {
    top: 0;
    left: $modal-ui-pad;
    bottom: 0;
  }

  &__next {
    top: 0;
    right: $modal-ui-pad;
    bottom: 0;
  }
}

[data-gallery-item] {
  cursor: pointer;
}
