/**
 * Project - Post Item
 */

.postItem {
  &__info {
    @include row(flex-start);
    font-size: font-size("small")
  }

  &__date {
    @include row(flex-start);
  }

  &__terms {
    @include row(flex-start);

    a {
      margin-inline-start: space("x-small");
    }
  }

  &__heading {
    font-size: $h3-font-size;
  }

  &--single {
    @include row();

    .postItem {
      &__image {
        @include col(4, true);
      }

      &__content {
        @include col(5, true);
        margin-block-end: space();
      }
    }
  }
}
