/**
 * Component - Responsive Color
 */

$responsive-color:         $body-bg !default;
$responsive-image-filter:  invert(1) grayscale(1) brightness(4) !default;

.responsiveColor {
  &--change {
    color: $responsive-color !important;

    span, a {
      color: $responsive-color !important;
    }

    img {
      filter: $responsive-image-filter;
    }
  }
}
