/**
 * Utility - Safe Embed
 */

.safe-embed-cover {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(map-get($theme-colors, "darkest"), 0.3);
  color: $body-bg;
  transition: opacity 0.25s linear;

  &:not(.is-active) {
    opacity: 0;
  }

  p {
    font-size: font-size("small");
  }
}
